.breakpoint-gutter {
	color: #822;
}

#brackets-node-debugger-log a.icon {
    margin: 0 10px;
    color: #bbb;
    font-size: 18px;
}

#brackets-node-debugger-log a.inactive {
    opacity: 0.4;
}

#brackets-node-debugger-log a.active {
    color: #78B2F2;
}

#brackets-node-debugger-log a.ion-ios7-close {
   color: #F74687;
}

#brackets-node-debugger-log a.ion-ios7-checkmark {
    color: #91CC41;
}

#brackets-node-debugger-content {
    overflow-y: scroll;
    height: 80%;
}

#brackets-node-debugger-input {
    height: 20px;
    max-height: 20px;
    padding-left: 25px;
    float: left;
}

#brackets-node-debugger-input:before {
    content: ">>";
    display: block;
    margin-left: -25px;
    height: 20px;
    float: left;
    color: #822;
}

.node-debugger-highlight {
     background-color: rgba(130, 2, 0, 0.1);
}

#brackets-node-debugger-content .type {
    color: #78B2F2;
    padding-right: 10px;
}

#status-bar #node-debugger-indicator.ion-android-developer {
    color: #F74687;
    cursor: pointer;
}

#status-bar #node-debugger-indicator.ion-android-developer.connected {
     color: #91CC41;
}