.breakpoint-gutter {
	color: #822;
}

#brackets-node-debugger-log .toolbar.bottom{
	padding: 0;
	clear: both;
}

#brackets-node-debugger-log a.icon {
	margin: 0 10px;
	color: #bbb;
	font-size: 18px;
}

#brackets-node-debugger-log .toolbar.bottom a {
	margin-left: 15px;
	color: #bbb;
}

#brackets-node-debugger-log .toolbar.bottom a:hover {
	color: #78B2F2;
}

#brackets-node-debugger-log a.removeBP:hover {
	color: #F74687;
}

#brackets-node-debugger-log a.inactive {
	opacity: 0.4;
}

#brackets-node-debugger-log a.active {
	color: #78B2F2;
}

#brackets-node-debugger-log a.ion-power {
	color: #91CC41;
	opacity: 1;
}

#brackets-node-debugger-log a.ion-stop {
	color: #F74687;
}

#brackets-node-debugger-input {
	display: block;
	min-width: 50%;
	height: 20px;
	max-height: 20px;
	margin-left: 5px;
	border: 0;
	background: transparent;
	float: left;
}

#brackets-node-debugger-input .suggestion {
	color: #822;
}

.input-indicator {
	content: ">>";
	display: block;
	height: 20px;
	float: left;
	color: #822;
}

.node-debugger-highlight {
	background-color: rgba(130, 2, 0, 0.1);
}

#brackets-node-debugger-wrapper .type {
	color: #78B2F2;
	padding-right: 5px;
}

#brackets-node-debugger-wrapper .var-name {
	color: #822;
}

#brackets-node-debugger-wrapper .hidden {
	display: none;
}

#brackets-node-debugger-wrapper .brackets-node-debugger-content {
	float: left;
	width: 75%;
	overflow-y: scroll;
}

#brackets-node-debugger-wrapper #brackets-node-debugger-sidebar {
	width: 24%;
}

.brackets-node-debugger-log span.object {
	display: block;
	padding-right: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.brackets-node-debugger-log span.object:before {
	padding-right: 5px;
}

.brackets-node-debugger-log span.object ~ .var{
	display: block;
	padding-left: 10px;
}

#status-bar #node-debugger-indicator.ion-android-developer {
	color: #F74687;
	cursor: pointer;
}

#status-bar #node-debugger-indicator.ion-android-developer.connected {
	color: #91CC41;
}
