.breakpoint-gutter {
	color: #822;
}

#brackets-node-debugger-log {
	overflow: hidden;
}

#brackets-node-debugger-log a.icon {
	margin: 0 10px;
	font-size: 18px;
}

#brackets-node-debugger-log .toolbar .main-grp {
	border-right: 2px solid #bbb;
	display: inline-block;
	padding-right: 5px;
	margin-right: 5px;
}

#brackets-node-debugger-log .toolbar .side-grp a.icon {
	color: #444;
	margin: 0 7px;
	font-size: 16px;
}

#brackets-node-debugger-log a.removeBP:hover {
	color: #F74687;
}

#brackets-node-debugger-log a.inactive {
	opacity: 0.4;
}

#brackets-node-debugger-log a.ion-power {
	color: #91CC41;
	opacity: 1;
}

#brackets-node-debugger-log a.ion-stop {
	color: #F74687;
}

#brackets-node-debugger-input {
	display: inline-block;
	min-width: 50%;
	height: 20px;
	max-height: 20px;
	margin-left: -3px;
	margin-top: -3px;
	border: 0;
	background: transparent;
}

#brackets-node-debugger-input .suggestion {
	color: #822;
}

#brackets-node-debugger-input:focus{
	outline: none;
}

.input-indicator {
	display: inline-block;
	color: #78B2F2;
	padding-top: 3px;
	font-size: 12px;
	margin: 0 5px;
}

.node-debugger-highlight {
	background-color: rgba(130, 2, 0, 0.1);
}

#brackets-node-debugger-wrapper .type {
	color: #78B2F2;
	padding-right: 5px;
}

#brackets-node-debugger-wrapper .var-name {
	color: #822;
}

#brackets-node-debugger-wrapper .hidden {
	display: none;
}

#brackets-node-debugger-wrapper .brackets-node-debugger-content {
	float: left;
	width: 75%;
	overflow-y: scroll;
	padding: 5px;
	box-sizing: border-box;
	background: #eee;
}

#brackets-node-debugger-wrapper #brackets-node-debugger-sidebar {
	width: 24%;
}

.brackets-node-debugger-log span.object {
	display: block;
	padding-right: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.brackets-node-debugger-log span.object:before {
	padding-right: 5px;
}

.brackets-node-debugger-log span.object ~ .var{
	display: block;
	padding-left: 10px;
}

.brackets-node-debugger-log .input-indicator {
	color: #888;
}

#status-bar #node-debugger-indicator.ion-android-developer {
	color: #F74687;
	cursor: pointer;
}

#status-bar #node-debugger-indicator.ion-android-developer.connected {
	color: #91CC41;
}
